/* Reset CSS and Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

html, body {
  background-color: #E5D2BA;
  height: 100%;
  width: 100%;
}

/* Navigation Bar Styles */
.nav-links:hover {
  opacity: 0.7;
}

.nav-links:active {
  opacity: 0.4;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: 'Raleway', sans-serif;
  background-color: #90BED4;
}

.logo {
  color: #f9f3ec;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #f9f3ec;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #f9f3ec;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 70%;
  }

}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #90BED4;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translate(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Styles for the Title Section */
.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ecostyle {
  width: 1000px;
  height: auto;
}

/* Styles for the Definition Section */
.definition {
  font-family: 'Raleway', sans-serif;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 60px;
  height: 600px;
  color: #f9f3ec;
  position: relative;
}

.whatIs {
  font-size: 50px;
}

.def {
  font-size: 24px;
}

/* Styles for the Random Fact Generator Section */
.container {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #f9f3ec;
  font-size: 50px;
  height: 100vh;
}

button {
  color: #90BED4;
  border: none;
  transition: opacity 0.3s;
  cursor: pointer;
  border-radius: 30px;
  background-color: #f9f3ec;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 30px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button:hover {
  opacity: 0.7;
}

button:active {
  transform: scale(0.98);
}

.output {
  background-color: #f9f3ec;
  color: #90BED4;
  padding: 30px 30px 20px 30px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  width: 800px;
}

@media (max-width: 550px) {
  .container {
    width: 95%;
  }
}

/* Styles for the Ways to Help Section */
.waysToHelp {
  color: #f9f3ec;
  display: flex;
  height: 100vh;
  font-size: 20px;
  padding: 80px;
}

.intro {
  color: #f9f3ec;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 80px;
  padding-top: 180px;
  text-align: center;
}

.header {
  font-size: 60px;
  text-transform: uppercase;
  filter: drop-shadow(4px 3px 0px #90BED4);
}

.subhead {
  font-size: 20px;
}

.columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 140px;
  padding-top: 100px;
}

.points {
  font-size: 30px;
  color: #f9f3ec;
}

.col + .col {
  margin: 1.5em;
}

/* Background Styles for Different Sections */
.section {
  height: 100vh;
}

.homePage {
  height: 100vh;
}

.title {
  height: 115vh;
  position: relative;
  background-color: #E5D2BA;
}

.title::before {
  content: '';
  background: url('https://happywall-img-gallery.imgix.net/4952/brown_mountains_display.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.35;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  position: absolute;
}

.definition {
  background: linear-gradient(#a39481, #62564f 60%);
  height: 70vh;
}

.container {
  background: linear-gradient(#62564f, #92826f);
  height: 70vh;
}

.container2 {
  background: #E5D2BA;
  height: 50vh;
}

.intro {
  background: #92826f;
  height: 30vh;
}

.waysToHelp {
  background: url('https://i.ibb.co/3mYWy2N/dump.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}

/* Copyright and Footer Section */
.copyright {
  background: #90BED4;
  height: 5vh;
  color: #f9f3ec;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}